

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #eb7e787c;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  
}

main {
  flex: 1;
  max-width: 500px;
  min-height: auto;

  .banner{
    background-image: url("../assets/images/acuarelaojos.jpg");
  }
  
}

header, footer {
  color: #ececec;
  background-color: #333;;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 2px -2px gray;
}

.footer {
  margin-top: auto;
}

