@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family:$font-family;
  font-style: normal;
  box-sizing: border-box;
  min-height: 100%;
  background: $primary-bg-color;
}

header {
  position: fixed;  
  width: 100%;
  z-index: 10;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: $secondary-bg-color;
  position: relative;
  z-index: 10;
  color: $tertiary-text-color;
}

