// colors
$primary-bg-color: #e8d6dd;
$secondary-bg-color: rgb(10,21,35);
$tertiary-bg-color:  hsl(225, 100%, 98%);


$primary-text-color: rgb(255,145,162);
$secondary-text-color: rgb(34,57,82);
$tertiary-text-color: rgb(232,214,222);


//font family
$font-family: "Red Hat Diplay", sans-serif;

//fonts size
$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 14px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 900;