// colors
$primary-bg-color: rgb(11, 12, 16);
$secondary-bg-color: rgb(10,21,35);
$tertiary-bg-color:  hsl(225, 100%, 98%);

$primary-text-color: #e984b9;
$secondary-text-color: rgb(255,145,162);

$primary-button-color: hsl(245, 75%, 52%);
$primary-button-hover: hsla(245, 75%, 52%, 0.67);
$secondary-button-hover: hsla(245, 75%, 52%, 0.67);

//background image
$background-image: url('../assets/images/jinx-arcane-league-of-legends-2k-wallpaper-uhdpaper.com-193@0@k.jpg');

//font family
$font-family: 'Red Hat Display', sans-serif;

//fonts size
$font-size-large: 24px;
$font-size-medium: 16px;
$font-size-small: 14px;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 900;