@import "../styles/variables.scss";

.productGrid{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
  justify-content: center;

  .productContainer {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    min-height: 400px;  
   }
}

.secondaryTitle{
  text-align: center;
  font-size: $font-size-large;
  font-weight: bold;
  color: $secondary-text-color;
  padding: 15px;
}

.catalogIntroduction{
  justify-self: center;
  font-size: $font-size-medium;
  color: $secondary-text-color;
  padding: 10px;
  width: 80%;
}


  
