.productGrid{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
  justify-content: center;

  .productContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    width: 300px;
    min-height: 400px;
    
   }
  
  .product-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .product-details {
    flex: 2;
  }


  
}



  
